body{
    background-color: rgb(65, 65, 65);
}
.parent {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(118, 118, 158);
    background-color: rgb(85, 85, 112);
    border-radius: 15px;
}
.rounded{
    border: 2px solid #353232;
    border-radius: 10px;
}
.vid-bg{
    background-color: rgb(77, 77, 77);
    border-radius: 7px;
    width: 260px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-column-gap: 5px;
}
.upload{
    background-color: #353232;
    border: 2px solid #000000;
    border-radius: 15px;
    width:500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 50px auto;
}
.videolbl, .iconlbl, .videotitlelbl{
    color: #d8a8a8;
}

.submitbtn{
    background: #8d7171;
}

a, u {
    text-decoration: none;
    color: aquamarine;
}
